.card--container {
    width: 19.438rem;
    height: 11.7000rem;
    border: solid 5px;
    align-items: center;
    border-radius: 20px;
    border-width: 10px;
    border-color: white;
}

.card--container2 {
    width: 19.438rem;
    height: 11.7000rem;
    border: solid 5px;
    align-items: center;
    border-radius: 20px;
    border-width: 10px;
    border-color: white;
}

.card--container3 {
    width: 19.438rem;
    height: 11.7000rem;
    border: solid 5px;
    align-items: center;
    border-radius: 20px;
    border-width: 10px;
    border-color: white;
}

.card--container4 {
    width: 19.438rem;
    height: 11.7000rem;
    border: solid 5px;
    align-items: center;
    border-radius: 20px;
    border-width: 10px;
    border-color: white;
    
}

.card--container5 {
    width: 19.438rem;
    height: 11.7000rem;
    border: solid 5px;
    align-items: center;
    border-radius: 20px;
    border-width: 10px;
    border-color: white;
    
}